@using Microsoft.AspNetCore.Identity;
@inject SignInManager<Customer> SignInManager
@inject UserManager<Customer> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UniS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css" />
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@300&display=swap" rel="stylesheet">
    </head>
<body>
    <header>
        <a asp-controller="Home" asp-action="Index" class="logo">UNIS</a>

        <ul class="navlist">
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-controller="Products" asp-action="Index">Products</a></li>
            <li><a href="#">About</a></li>
            <li><a asp-controller="Home" asp-action="Privacy">Privacy</a></li>
            <li><a href="https://www.avcol.school.nz/">Avcol Site</a></li>
            @if (SignInManager.IsSignedIn(User) && UserManager.GetUserAsync(User).Result.UserName == "admin@avcol.school.nz")
            {
                <li><a asp-controller="Orders" asp-action="Index">Orders</a></li>
                <li><a asp-controller="Customers" asp-action="Index">Customer List</a></li>
            }

        </ul>

        <div class="bx bx-menu" id="menu-icon"></div>
    </header>

    <div class="container" style="margin-top: 100px">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
<script src="https://unpkg.com/scrollreveal"></script>
<script src="~/css/layout.js"></script>
</html>
