@page
@model RegisterModel
@{
	ViewData["Title"] = "Register";
	Layout = null;
}


<head>
	<meta charset="utf-8">
	<title>RegistrationForm_v8 by Colorlib</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@300&display=swap" rel="stylesheet">
	<!-- MATERIAL DESIGN ICONIC FONT -->
	<link rel="stylesheet" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

	<!-- STYLE CSS -->
	<link rel="stylesheet" href="~/css/register.css">
</head>

<body>

	<div class="wrapper">
		<div class="image-holder">
			<img src="~/Img/registration-form-8.jpg" alt="">
		</div>
		<div class="form-inner">
			<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
				<div class="form-header">
					<h3></h3>
					<img src="images/Avcoly.png" alt="" class="sign-up-icon">
				</div>
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-group">
					<div class="form-groupceptionsquared">
						<input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
						<label asp-for="Input.Email"></label>
						<span asp-validation-for="Input.Email" class="text-danger"></span>
					</div>
				</div>
				<div class="form-group">
					<div class="form-groupception">
						<input asp-for="Input.CustomerFirstName" class="form-control" autocomplete="given-name" aria-required="true" />
						<label asp-for="Input.CustomerFirstName"></label>
						<span asp-validation-for="Input.CustomerFirstName" class="text-danger"></span>
					</div>
					<div class="form-groupception">
						<input asp-for="Input.CustomerLastName" class="form-control" autocomplete="family-name" aria-required="true" />
						<label asp-for="Input.CustomerLastName"></label>
						<span asp-validation-for="Input.CustomerLastName" class="text-danger"></span>
					</div>
				</div>
				<div class="form-group">
					<div class="form-groupception">
						<input asp-for="Input.CustomerAddress" class="form-control" autocomplete="address" aria-required="true" />
						<label asp-for="Input.CustomerAddress"></label>
						<span asp-validation-for="Input.CustomerAddress" class="text-danger"></span>
					</div>
					<div class="form-groupception">
						<input asp-for="Input.PhoneNumber" class="form-control" autocomplete="tel" aria-required="true" />
						<label asp-for="Input.PhoneNumber"></label>
						<span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
					</div>
				</div>
				<div class="form-group">
					<div class="form-groupception">
						<input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
						<label asp-for="Input.Password"></label>
						<span asp-validation-for="Input.Password" class="text-danger"></span>
					</div>
					<div class="form-groupception">
						<input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
						<label asp-for="Input.ConfirmPassword"></label>
						<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
					</div>
				</div>
				<button id="registerSubmit" type="submit">Sign Up</button>
				<br>
			</form>
		</div>

	</div>
	<script src="js/main.js"></script>
</body>
